<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>DbConnectorName</param-name>
        <param-value>jdbc/mysql</param-value>
    </context-param>
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/static/js/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbc-realm</realm-name>
        <form-login-config>
            <form-login-page>/WEB-INF/views/auth/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/views/auth/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>auth</web-resource-name>
            <description/>
            <url-pattern>/auth/*</url-pattern>
            <url-pattern>/user/privat/</url-pattern>
            <url-pattern>/category/create/</url-pattern>
            <url-pattern>/category/update/</url-pattern>
            <url-pattern>/category/del/</url-pattern>
            <url-pattern>/category/list/</url-pattern>
            <url-pattern>/article/create/</url-pattern>
            <url-pattern>/article/update/</url-pattern>
            <url-pattern>/article/del/</url-pattern>
            <url-pattern>/article/list/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USERS</role-name>
            <role-name>ADMINS</role-name>
        </auth-constraint>
    </security-constraint> 
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>auth</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINS</role-name>
        </auth-constraint>
    </security-constraint> 
</web-app>
